body{
    overflow-x: hidden;
}

.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    /* overflow-x: hidden; */
}

.movie__intro {
    width: 90%;
}

.movie__backdrop {
    max-width: 100%;
    height: auto;
    object-fit:cover;
    margin-right: 3rem;
    object-position: 0 35%;
    
}

.movie__detail {
    align-items: center;
    width: 75%;
    display: flex;
    position: relative;
    bottom: 225px;
}

.movie__detailLeft {
    margin-right: 30px;
}

.movie__poster {
    width:300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__detailRight {
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content:space-between ;
}

.movie__detailRightTop > div{
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: .5rem;
}

.movie__name {
    font-weight: 600;
    font-size: 3rem;
}

.movie__voteCount {
    margin-left: 1rem;
}

.movie__genres {
    margin: 1.25rem 0;
}

.movie__genre {
    padding: .5rem;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 1rem;
}


.movie__detailRightBottom {
    margin: 2rem 0;
    flex: 0.8;
}

.synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}
.synopsisText > div:last-of-type {
    margin-left: auto;
}

.movie__links {
    position: relative;
    bottom: 120px;
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.movie__heading {
    font-size: 2.2rem;
}

.movie__Button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    color: black;
    font-weight: bold;
}

.movie__homeButton {
    background-color:rgb(255, 0, 0);
    
}

.movie__imdbButton {
    background-color:#f3ce13;
}

.newTab {
    margin-left: 1.4rem;
}

.movie__production {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
}


.movie__productionComapany {
    width: 200px;
    margin: 2rem;
}

.productionCompanyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* cast */
.cast{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    bottom:10rem;


}
.cast_card{
    display: flex;
    flex-direction: column;
    width:10rem;
    margin:2rem;
   
}
.cast_title > p{
    color: azure;
    position: relative;
    bottom : 10rem;
    width:auto;
      

    

}



@media (max-width:850px){
    .movie__detailRightBottom div{
        max-height: 10rem;
    }
   
    .movie__backdrop{
        max-width:900px;
        height:auto;

    }
    .movie__detailRight{
        min-width:100px;
       
    }
    .movie__tagline{
        display: flex;
        flex-direction: column;
    }
    .cast{
        position: relative;
        top:10rem;
       
        margin:auto ;
        padding: 5rem;
    }
    .movie,.movie__detail{
        display: flex;
        flex-direction: column;
       
        justify-content: center;
        align-items:center;
      
       
        
       
    }

    .movie > .cast_title {
        text-align: center;
        margin: auto;
        position: relative;
        top:20rem;
        
    }
    

}

@media (max-width:300px){
   

    .movie__intro{
        width:100%;
    
    }
    .movie_intro > img{
        margin-left: 100px;
    }
   
}

@media  (max-width:250px){
    .movie , .movie__detail{
        display: flex;
        flex-direction: column;
        gap:5rem;
        width:225px;

       }
       .movie__detail{
        margin-left: 30rem;
       }
       .cast_title > p{
        margin-left:20rem;
       }
       .cast{
        margin-left:10rem;
       }




    
}


